* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background: rgb(29,0,77);
    background: linear-gradient(159deg, rgba(29,0,77,1) 16%, rgba(9,9,121,1) 100%);
}

.container {
    width: 210px;
    height: 300px;
    background-color: rgba(30, 30, 30, .7);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    border: 5px solid rgb(68, 0, 255);
    border-radius: 10px;
    width: 45px;
    height: 45px;
    margin: 10px;
}

#red, #purple, #blue {
    transition: .3s;
}

#red:hover, #purple:hover, #blue:hover {
    cursor: pointer;
    transform: scale(1.04);
}

#red {
    background-color: #f44336;
    color: #f44336;
}

#purple {
    background-color: #673ab7;
    color: #673ab7;
}

#blue {
    background-color: #3498db;
    color: #3498db;
}

#square {
    width: 80%;
    background-color: #171717;
    height: 200px;
    border: 5px solid rgb(68, 0, 255);
    border-radius: 20px;
    transition: .3s;
}

#currentColor {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 545;
}