<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Flipper</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div id="buttons">
                <button id="red" onclick="setColor('#f44336')"></button>
                <button id="purple" onclick="setColor('#673ab7')"></button>
                <button id="blue" onclick="setColor('#3498db')"></button>
            </div>
            <button id="square"></button>
            <p id="currentColor">#171717</p>
        </div>
    </div>
</body>
</html>