<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Flipper</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon/icon.png">
    <script src="/main.js" defer></script>
</head>

<body>
    <div id="botones">
        <button id="rojo" onclick="setColor('red')">Rojo</button>
        <button id="amarillo" onclick="setColor('yellow')">Amarillo</button>
        <button id="azul" onclick="setColor('blue')">Azul</button>
        <button id="random" onclick="setRandomColor()">Random</button>
    </div>
</body>
</html>